<div class="LR-box-wrapper">
    <div class="LR-box">
        <div class="LR-box-container LR-clearfix">
            @*@using (Ajax.BeginForm("SendMailtoUser", "Home", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
            {
                *@
            <form action="/Home/SendMailtoUser" method="post" onsubmit="javascript:return validateEmail();" class="form-horizontal" id="validate-form" style="margin-bottom: 0px !important;">
            <div class="LR-box-inner">

                    <div class="LR-site-logo">
                        <img src="~/images/PDFTOXLS-desk-login.jpg" alt="PDFTOXLS Software" />
                    </div>
                    <!-- .site-logo -->
                    <div class="LR-sign-up">

                        <div class="LR-site-description">somethings....</div>
                        <!-- .site-description -->
                        <span class="LR-sign-up-label"></span>
                        <div class="LR-sign-up-container LR-extra-fields">
                            <div class="LR-sign-up-container-inner LR-clearfix">
                                <div class="LR-clearfix LR-sign-up-input signup-email">
                                   <input type="text" name="emailid" id="emailid" value="@ViewBag.E_MAIL" />
                                </div>
                                <button type="submit" class="LR-sign-up-submit" >Send</button>
                            </div>
                            @*<div id="showmsg" style="text-align: center; color: #f00; font-weight: normal; text-shadow: none !important;">@ViewBag.Message</div>
                            @if (ViewBag.Message != "")
                            {
                                <script type="text/javascript">
                                    jQuery(document).ready(function () {
                                        jQuery("#showmsg").delay(3000).fadeOut("slow");
                                    });

                                </script>
                            }*@
                        </div>
                        <!-- .sign-up-container-inner -->
                    </div>
                    <!-- .sign-up-container -->
                </div>
                <!-- .sign-up -->
                <!-- .box-inner -->
            </form>
        </div>
        <!-- .box-container -->
    </div>
    <!-- .box -->
</div>
<script type="text/javascript">
    function validateEmail()
    {
        var txtemail = document.getElementById('emailid');
        var filter = /^([a-zA-Z0-9_.-])+@@([a-zA-Z0-9_.-])+\.([a-zA-Z])+([a-zA-Z])+/;
        if (txtemail.value == "") {
            alertify.alert("please enter correct email.");
            txtemail.focus();
            return false;
        }
        else {
            if (filter.test(txtemail.value) == false) {
                alertify.alert("please enter correct email.");
                txtemail.value = "";
                txtemail.focus();
                return false;
            }
        }
        return true;
    }
</script>

@*alertify.alert("You Can Only Pick The New Records");*@